<div class="container">
  <h1>Teoría Angular</h1>
  <h2>Esto es una prueba: {{ test }}</h2>
  <p>Elementos del array: {{ list().length }}</p>
  <ul>
    <li *ngFor="let task of list(); index as i">{{ i + 1 }} {{ task }}</li>
  </ul>
  <hr />

  <!-- UTILIDAD DE {} -->
  <h2>{{ "Hola ".repeat(4) }}</h2>
  <p>La suma de 3 + 3 es {{ 3 + 3 }}</p>
  <h2>Nombre: {{ name() }}</h2>
  <h2>Age: {{ age() }}</h2>
  <img [src]="img()" alt="" height="25px" width="25px" />
  <hr />
  <h2>Eventos</h2>

  <button class="buttonTest" (click)="clickHandlerOne()">Click me</button>
  <br />
  <br />
  <button class="buttonTest" (dblclick)="clickHandlerTwo()">Click me</button>

  <p>
    ( change - Cambia despues de que se detecta un cambio en la caja de texto +
    reactividad de objeto ) Resultado = {{ name() }}
  </p>
  <input type="text" [value]="person().name" (change)="changeHandler($event)" />

  <p>
    ( KeyDown - Detecta cambios de pulsaciones ) Resultado =
    {{ input ? input : "asda" }}
  </p>
  <input
    type="text"
    [value]="person().name"
    (keydown)="keyDownHandler($event)"
  />

  <p>(KeyDown shift + t - Evento lanzado por medio de combinación de teclas)</p>
  <input
    type="text"
    placeholder="Oprime shift + t"
    (keydown.shift.t)="clickCombinationHandler()"
  />

  <div *ngIf="1 !== 1">My content</div>

  <div *ngIf="person().name === 'Deivi'; else elseBlock">
    My content two true
  </div>

  <ng-template #elseBlock> My content two false </ng-template>

  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'Deivi'">Bien, eres Deivi</p>
    <p *ngSwitchCase="'Juan'">Bien, eres Juan</p>
  </div>
</div>
